/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
/tests export-ignore

/.* export-ignore
/CHANGELOG.md export-ignore
/CODE_OF_CONDUCT.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/CREDITS.md export-ignore
/LICENSE.md export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/hookdoc-conf.json export-ignore
/wordpress-version-checker.json export-ignore
